.wrapper {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    text-transform: uppercase
}


.form__title {
    font-weight: normal;
}


.get-taxes__input {
    border: 0;
    border-bottom: 1px solid #6eafff;
    outline: none;
}


.get-taxes__button {
    border: 0;
    background-color: #2285ff;
    color: #fff;
    width: 65px;
    margin-left: 15px;
    padding: 5px;
    cursor: pointer;

}

.get-taxes {
    padding: 6px;
}





.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 65px 0 0;
}

.card {
    text-align: center;
}

.card__icon {
    font-size: 35px;
    color: #6eafff;
}

.card__text {
    line-height: 24px;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .get-taxes__button {
        width: 110px;
    }

    .get-taxes {
        padding: 5px 10px;
    }

    .cards {
        margin: 95px 0 0;
    }



}